.container {
    margin-top: 50px;
}
body {
    background-color: whitesmoke; 
    color: #000000; 
}

.food-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.food-card img {
    flex: 1;
}

.food-card .card-body {
    flex: 2;
    padding: 20px;
    background-color: rgb(22, 113, 140);
    color: white;
}

.navbar {
    background-color: rgb(22, 113, 140) !important; 
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #000000 !important; 
    font-weight: bold !important;
}

.navbar-nav .nav-link:hover {
    color: #808080 !important; 
    font-weight: bold !important;
}



.container{
    padding: 20px;
    border-radius: 6px;
    background-color: rgb(22, 113, 140);
}

.img-fluid{
    border-radius: 6px;
}

.text-center{
    margin-bottom: 20px;
}