*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(22, 113, 140);
}

.container{
    display: flex;
    height: 550px;
    width: 850px;
    /*border: 1px solid black;*/
    margin: auto;
    margin-top: 80px;
    box-shadow: 15px 15px 20px black;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form h2{
    font-size: 3rem;
    margin: 10px;
}

.box{
    padding: 5px;
    margin: 5px;
    width: 65%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 30px;
    background-color: rgb(22, 113, 140);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: black;
}

.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.form a:hover{
    color: rgb(22, 113, 140);
}

.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side img{
    width: 425px;
    height: 550px;
}